<!--
		id 				: field id
		button_label	: label on the button to add more relationships
		current_value	: current value (s) of the field
-->
<div class="multirelationshipField" id="__mrs__id__" data-options='__mrs__options__' data-to="__mrs__to__" data-autoselect="__mrs__autoselect__">
	<div>
		<div style="display: inline-block;"><span class="basic-relation"></span></div>
		<div style="display: inline-block;"><input type="button" value="__mrs__button_label__" class="mrs__add_relationship"></div>
	</div>
	<input type="hidden" name="__mrs__id__" value='__mrs__current_value__'>
	<div>
		<table class="items" data-value='__mrs__current_value__'>
		</table>
	</div>
</div>
__mrs__hidecss__